/**** Charte Graphique ***/
:root {
  --couleurprincipale: #e8e2da;
  --couleurtransparence: rgb(255, 255, 255, 0.3);
  --couleurboutons: #c8bcab;
  --couleurtextebtn: white;
  --policeh2: "Kristi";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "quicksand";
  font-weight: bolder;
}

html {
  height: 100%;
}

footer {
  background-color: var(--couleurprincipale);
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
}

h3 {
  font-weight: bolder;
  text-transform: uppercase;
}

/* SECTION*/
#allTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
}

section {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 142px;
  margin-bottom: 25px;
}

div .container {
  position: relative;
  background-color: var(--couleurprincipale);
  height: 9rem;
  border-radius: 8px;
  position: relative;
  padding: 1rem 1rem 1rem 2rem;
  overflow: scroll;
  text-overflow: hidden;
}

.sous-tache {
  position: absolute;
  width: 80%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* Titre des section */
h2 {
  position: relative;
  text-align: right;
  font-size: 30px;
  font-weight: lighter;
  margin-right: 3%;
  bottom: -14px;
  font-family: var(--policeh2);
  z-index: 1;
  color: #9e846a;
}

/* Bouton ajout de taches*/
#add-btn {
  display: inline-block;
  position: absolute;
  left: -24px;
  top: 80px;
  border: #666 1px solid;
  margin: 2px;
  font-size: 24px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #c8bcab;
  color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Btn = supp tache terminées */
#supp-task {
  display: inline-block;
  position: absolute;
  left: -24px;
  top: 80px;
  border: #666 1px solid;
  margin: 2px;
  font-size: 24px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #c8bcab;
  color: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.sup-active {
  display: none;
}

@media screen and (min-width: 1024px) {
  #allTask {
    margin: 0;
  }

  .sous-tache {
    height: 270px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 180%;
    margin-top: 68px;
  }

  div.container {
    height: 250px;
    display: flex;
    flex-direction: column;
  }

  #section1,
  #section2,
  #section3 {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #section1 {
    width: 200%;
    margin-bottom: 20px;
  }

  section h2 {
    font-size: 38px;
    margin-right: 1%;
  }

  #add-btn {
    left: -24px;
    top: 130px;
    width: 55px;
    height: 55px;
  }

  #supp-task {
    left: -24px;
    top: 125px;
    width: 55px;
    height: 55px;
  }
}
